<!-- Entre CTA -->
<div class="full-width entre-cta">

  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h2>Entre Maintenant</h2>
        <form>
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell medium-10">
                <input type="email" placeholder="Your Email" required>
              </div>
              <div class="cell medium-2">
                <button type="submit" class="btn-primary">Entre</button>
              </div>
            </div>
            <div class="grid-x">
              <div class="cell">
                <p>
                  Not sure? <a href="/concours.html">Find out more.</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="veg-overlay hide-for-small-only">
  </div>

</div>
<!-- / Entre CTA -->
