/*

Colour Pallette:

Intermarche Red (Primary Color)
#F02900
Primary Dark
#A81810

*/

/* Custom Fonts */
@font-face {
    font-family: 'Intermarche';
    src: url('fonts/intermarche-bold-webfont.woff2') format('woff2'),
    url('fonts/intermarche-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intermarche-Bold';
    src: url('fonts/intermarche-heavy-webfont.woff2') format('woff2'),
    url('fonts/intermarche-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Mobile-first and general styles */
/* Root font sizes for rem resizing */
html {
    font-size: 10pt;
}

.black-text {
    color: #000;
}

h1, h2 {
    font-family: Intermarche;
    font-size: 1.3rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    width: 100%;
}

p.subtitle {
    margin-top: 0.2rem;
    font-weight: 700;
}

p.subtitle img {
    position: relative;
    top: -0.1rem;
    height: 16px;
    width: 16px;
}

p.footnote {
    font-size: 0.8rem;
    font-style: italic;
}

p.border-paragraph {
    border: 2px solid white;
    display: inline-block;
    padding: 8px;
}

li > ul {
    list-style: circle;
}

a {
    transition-duration: 0.4s;
}

a,
a:default,
a:visited,
a:default > p,
a:visited > p {
    color: #fff;
    text-decoration: underline;
}

a:hover,
a:active,
a:focus,
.magasins .cell a:hover,
.magasins .cell a:active,
.magasins .cell a:focus {
    color: #ddd;
}

.nav > li > a {
    text-decoration: none;
}

ul {
    text-align: left;
}

.brand-logo {
    background-image: url('../images/paper-texture.jpg');
    border-radius: 2rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.6);
    padding: 0.3rem 1rem 0.1rem 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    display: inline-block;
}

.brand-logo img:first-of-type {
    position: relative;
    top: 0.2rem;
}

.brand-logo img[alt="Logo Pyrex"] {
    position: relative;
    top: 0;
}

.fab {
    transition-duration: 0.5s;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    opacity: 0.6;
    z-index: 99;
}

.fab.invisible {
    opacity: 0;
    pointer-events: none;
}

.fab img {
    margin: 1rem;
    height: 1rem;
    width: 1rem;
    transform: rotate(180deg);
}

.navbar-default {
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 0.5rem;
}

.navbar-header a > img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-header img {
    height: 1.4rem;
}

.navbar-toggle {
    margin-right: 0;
}

.btn-primary {
    background-color: #F02900;
    background-image: none;
    color: #fff;
    width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #A81810;
    padding: 0.5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A81810;
    text-decoration: none;
    color: #fff;
}

.red-number {
    display: block;
    background-color: #F02900;
    color: #fff;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: center;
}

.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h1 {
    text-align: center;
    color: #fff;
}

.decouvrez-page .hero {
    background-image: url('../images/l-offre.jpg');
}

.concours-page .hero {
    background-image: url('../images/concours.jpg');
}

.magasins-page .hero {
    background-image: url('../images/magasins.jpg');
}

.faq-page .hero {
    background-image: url('../images/concours.jpg');
}

.faqs h2.faq-category {
    color: #000;
    margin: 2rem 0;
    text-shadow: none;
}

.recettes-page .hero {
    background-image: url('../images/recettes.jpg');
}

.produits-page .hero,
.produit-inner-page .hero {
    background-image: url('../images/produits.jpg');
}

.modalities-page .hero {
    background-image: url('../images/modalities.jpg');
}

.recette-inner-page .hero {
    position: relative;
}

.recette-inner-page .hero h1 {
    position: relative;
    z-index: 1;
}

.recette-inner-page .hero .grid-container:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.recette-inner-page.brownie .hero {
    background-image: url('../images/recettes/brownies-aux-noir-de-pecan@mobile.jpg');
}

.recette-inner-page.clatoutis .hero {
    background-image: url('../images/recettes/clafoutis-aux-poires@mobile.jpg');
}

.recette-inner-page.gespillage .hero {
    background-image: url('../images/recettes/le-gaspillage@mobile.jpg');
}

.recette-inner-page.gateau .hero {
    background-image: url('../images/recettes/gateau-renverse-aux-pommes@mobile.jpg');
}

.recette-inner-page.gratin-chou-fleur .hero {
    background-image: url('../images/recettes/gratin-de-chou-fleur@mobile.jpg');
}

.recette-inner-page.lasagne .hero {
    background-image: url('../images/recettes/lasagne-classique@mobile.jpg');
}

.recette-inner-page.magret-canard .hero {
    background-image: url('../images/recettes/magret-de-canard@mobile.jpg');
}

.recette-inner-page.papillote .hero {
    background-image: url('../images/recettes/papillote-de-lotte@mobile.jpg');
}

.recette-inner-page.roti-de-boeuf .hero {
    background-image: url('../images/recettes/roti-de-boeuf@mobile.jpg');
}

.hero .grid-x {
    height: 25vh;
}

.hero .grid-x .cell {
    margin: 0;
}

.modalities-page a:default,
.modalities-page a:active,
.modalities-page a:hover,
.modalities-page a:visited {
    color: #F02900;
}

.modalities-page a:hover {
    text-decoration: underline;
}

main {
    margin-bottom: 2rem;
}

.home-page main img {
    max-height: 60vh;
}

main .grid-container .cell {
    margin-top: 2rem;
}

.l-offre {
    padding-bottom: 2rem;
    background-image: url('../images/l-offre.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
}

.decouvrez-page .l-offre {
    background: none;
}

.decouvrez-page .l-offre .grid-x:last-child .cell {
    margin-top: 0;
}

.l-offre h2,
.l-offre p,
.l-offre ol > li {
    color: #fff;
}

.decouvrez-page .l-offre h2,
.decouvrez-page .l-offre p,
.decouvrez-page .l-offre ol > li {
    color: #000;
}

.full-width {
    width: 100vw;
}

.full-height {
    width: 100vh;
}

.entre-cta,
.telecharger-cta {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F02900;
}

.entre-cta,
.entre-cta h2,
.telecharger-cta,
.telecharger-cta h2 {
    text-align: center;
    color: #fff;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

main .entre-cta .grid-container .cell,
main .telecharger-cta .grid-container .cell {
    margin-top: 0;
}

.entre-cta a,
.produits-recettes a {
    color: #fff;
    text-decoration: underline;
}

.telecharger-cta a:hover {
    background-color: #ccc;
}

.entre-cta .veg-overlay,
.telecharger-cta .veg-overlay,
.magasins .veg-overlay {
    z-index: 0;
    position: absolute;
    top: 4rem;
    height: 137%;
    width: 100%;
    /*background-color: rgba(0,255,0,0.5);*/
    background-image: url('../images/veg-left.png'), url('../images/veg-right.png');
    background-size: 30%;
    background-position: center left, center right;
    background-repeat: no-repeat;
}

.entre-cta > .grid-container,
.telecharger-cta > .grid-container {
    position: relative;
    z-index: 99;
}

.entre-cta h2,
.telecharger-cta h2 {
    margin-bottom: 0;
}

.entre-cta .btn-primary,
.telecharger-cta .btn-primary {
    background-color: #fff;
    color: #F02900;
}

.info-strip {
    background-color: #F02900;
    color: #fff;
}

.info-strip .grid-x .cell:last-child {
    padding: 2rem;
}

.mecanique {
    margin: 2rem 0;
}

.mecanique .grid-x {
    text-align: center;
}

.produit-carousel {
    background-color: #F02900;
    position: relative;
}

main .produit-carousel > .grid-container {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.produit-carousel .prev-button,
.produit-carousel .next-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 50%;
    position: relative;
    top: 0.3rem;
    background-image: url('../images/chevron-red.png');
    background-size: 0.7rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.produit-carousel .prev-button {
    transform: rotate(90deg);
    float: left;
}

.produit-carousel .next-button {
    transform: rotate(-90deg);
    float: right;
}

main .produit-carousel .grid-container .cell {
    margin-top: 0;
    padding: 0.5rem;
}

main .produit-carousel .grid-container .cell p {
    color: #fff;
}

.owl-carousel .owl-item img,
.owl-carousel-2 .owl-item img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.produit-carousel .pricetag-overlay {
    position: absolute;
    right: -1rem;
    top: -1rem;
    text-align: center;
    background-color: #fff;
    color: #F02900;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.produit-carousel .owl-stage-outer {
    /*padding: 0 2rem;*/
    /*overflow: visible;*/
}

.produit-carousel img {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.produits-recettes {
    color: #fff;
    padding-bottom: 4rem;
    background-image: url('../images/paper-texture.jpg');
    background-position: center;
    background-size: cover;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.produit-inner-page .featured-produit {
    /*background-image: url('../images/recette-back-top-left.jpg'), url('../images/paper-texture.jpg');
    background-position: top left, center;
    background-repeat: no-repeat;
    background-size: 40%, 100%;*/
    background-image: url('../images/paper-texture.jpg');
}

.featured-produit .image-container {
    position: relative;
}

.featured-produit .image-container img {
    /*box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.3);*/
}

.featured-produit .black-overlay {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.featured-produit .black-overlay img {
    height: 4rem;
    width: 4rem;
}

.featured-produit .black-overlay > div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: table;
}

.featured-produit .black-overlay > div > div {
    display: table-cell;
    vertical-align: middle;
}

.featured-produit .black-overlay > div > div p {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.featured-produit .grid-x:last-child .cell {
    margin-top: 0;
}

.important-info {
    text-align: center;
    font-style: italic;
}

.red-overlay {
    padding: 0.2rem;
    margin: 0;
    display: inline-block;
    max-width: 100%;
    height: auto;
    background-color: #F02900;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.red-overlay > .grid-x:first-child {
    padding: 0;
    text-align: center;
    line-height: 1.5rem;
}

.red-overlay > .grid-x .cell:nth-child(2) {
    font-size: 5rem;
}

.red-overlay small {
    display: block;
    font-size: 1rem;
    text-transform: none;
}

.produits-recettes hr {
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    border: 1px solid #fff;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.gradient-container {
    position: relative;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    color: #fff;
    padding: 3rem;
    vertical-align: bottom;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
}

.recette-gallery .grid-x {
    align-items: baseline;
}

.recette-gallery .grid-x:last-child .cell {
    position: relative;
    padding-bottom: 2rem;
}

.recette-gallery img {
    width: 100%;
}

a.more-button {
    color: #F02900;
    text-decoration: underline;
}

.produits-recettes .inner-gallery .cell {
    position: relative;
    margin-top: 0;
}

.produits-recettes .inner-gallery .grid-x:last-child .cell {
    margin-top: 1rem;
}

.produits-recettes .gradient-overlay p,
.recettes-page .gradient-overlay p,
.produit-carousel .gradient-overlay p {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    bottom: 1rem;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.produits-recettes .inner-gallery .gradient-overlay p,
.produit-carousel .gradient-overlay p {
    font-size: 1rem;
    bottom: 0;
    left: 1.5rem;
}

p > .go-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(-90deg);
    background: red;
    border-radius: 50%;
    position: relative;
    top: 0.3rem;
    background-image: url('../images/chevron.png');
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
}

.inner-gallery p > .go-icon,
.produit-carousel p > .go-icon {
    width: 1rem;
    height: 1rem;
    background-size: 0.66rem;
    top: 0.2rem;
}

.produits-recettes h2 {
    color: #fff;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.produits-recettes img,
.recettes-page .gradient-container {
    box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.recettes-page .recette-gallery .cell[data-recette] .gradient-overlay {
    margin-bottom: -5px;
    border-bottom: 5px solid blue;
}

.recettes-page .recette-gallery .cell[data-conseil] .gradient-overlay {
    margin-bottom: -5px;
    border-bottom: 5px solid green;
}

.recettes-page input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0 .5em 0 0;
    border-radius: 5px;
    vertical-align: bottom;
    position: relative;
    bottom: 0;
}

.recettes-page input[type=checkbox] {
    /* original check box are push outside the viexport */
    position: absolute;
    left: -1000em;
}

.recettes-page input[type=checkbox] + label:before {
    transition-duration: 0.3s;
}

.recettes-page input[value=recipe] + label:before {
    border: 2px solid blue;
}

.recettes-page input[value=recipe]:checked + label:before {
    border: 2px solid blue;
    background: blue;
}

.recettes-page input[value=advice] + label:before {
    border: 2px solid green;
}

.recettes-page input[value=advice]:checked + label:before {
    border: 2px solid green;
    background: green;
}

.recette-inner-page .sidebar {
    color: #fff;
    background-color: #F02900;
}

.recette-inner-page .grid-x.what-you-need {
    align-items: start;
}

.recette-inner-page .grid-x.what-you-need .cell:not(:first-child),
.recette-inner-page .grid-x.prepare .cell:not(:first-child) {
    margin-top: 1rem;
}

.recette-inner-page a {
    color: #F02900;
}

.recette-inner-page .sidebar a,
.recette-inner-page .sidebar h3 {
    color: #fff;
    font-weight: 700;
}

.recette-inner-page .sidebar h3 {
    margin-top: 0.5rem;
}

.recette-inner-page .sidebar .cell {
    padding-left: 2rem;
    padding-right: 2rem;
}

.recette-inner-page .sidebar h2 {
    color: #fff;
    font-size: 2rem;
}

.recette-inner-page .sidebar .gradient-container {
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.recette-inner-page .sidebar .gradient-container p {
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.recette-inner-page .cell.sidebar {
    margin-top: 0;
}

.recette-inner-page h3 {
    color: #F02900;
    font-size: 1.3rem;
}

.recette-inner-page .cell.share {
    margin-top: 0;
}

.recette-inner-page .grid-x.baseline {
    align-items: baseline;
}

.recette-inner-page .grid-x.baseline > .cell {
    margin-top: 0;
    padding-top: 2rem;
}

.recette-inner-page .grid-x.what-you-need,
.recette-inner-page .grid-x.prepare {
    padding-bottom: 2rem;
    border-bottom: 2px solid red;
    margin-bottom: 2rem;
}

.recette-inner-page .red-number {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
}

.red-number.back-button {
    transform: rotate(90deg);
    background-image: url('../images/chevron.png');
    background-size: 1.5rem;
    background-position: center 1.0rem;
    background-repeat: no-repeat;
}

.magasins {
    position: relative;
}

.magasins .veg-overlay {
    height: 35vh;
    top: auto;
    bottom: -12rem;
    background-image: url('../images/veg-left-small.png'), url('../images/veg-right-small.png');
    background-size: 15%;
}

.magasins p:not(.float-right):not(.produits-cta_home) {
    font-size: 1.2rem;
}

.magasins ul {
    list-style: none;
}

.magasins .voir-tout a,
.magasins .voir-tout a:default,
.magasins .voir-tout a:visited {
    color: #000;
}

.magasins .cell:nth-child(3),
.magasins-page .magasins .grid-x {
    background-color: #F02900;
    color: #fff;
    align-items: baseline;
}

.magasins-page .magasins .input-group-label img {
    width: 1rem;
}

.faqs {
    color: #fff;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.faqs article {
    margin-bottom: 1rem;
}

main .faqs .cell {
    margin-top: 0;
}

.home-page .faqs {
    background-image: url('../images/faqs.jpg');
    background-position: top;
    background-size: 150%;
    background-color: rgba(0, 0, 0, 0.7);
}

.faqs .cell {
    margin-top: 1rem;
}

.faqs h3 {
    text-align: left;
    font-size: 1.2rem;
    background-color: #F02900;
    padding: 0.7rem 2rem;
    margin-bottom: 0;
    cursor: pointer;
}

.faqs h3 div img {
    margin: 0;
    height: 0.8rem;
    width: auto;
    transition-duration: 0.5s;
}

.faqs h3.active div img {
    transform: rotate(180deg);
}

.faqs .collapse {
    background-color: #A81810;
    padding: 0.7rem 2rem;
}

.faqs h2 {
    color: #fff;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

/* full width navbar style */
.navbar-default {
    background-color: #fff;
    background-image: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
    color: #F02900;
    background-image: none;
    background-color: transparent;
    text-decoration: underline;
    box-shadow: none;
}

.navbar-default .navbar-nav > .active > a {
    pointer-events: none;
}

.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-image: none;
    background-color: transparent;
    text-decoration: underline;
}

.nav > li.social-icons > a {
    display: inline-block;
}

.nav > li.social-icons > a > img {
    height: 7vh;
}

p {
    font-size: 1.0rem;
    margin: 1.5rem 0;
    line-height: 1.6rem;
}

header {
    width: 100vw;
    border-bottom: 4px solid #F02900;
    text-transform: uppercase;
}

footer {
    align-items: center;
}

#footer-main-site-link>p {
  margin: 1rem 0;
}

#footer-main-site-link p a img {
  width:20rem;
  height: auto;
  margin-top: 0.5rem;
}

.social-nav {
    text-align: center;
}

.social-nav img {
    height: 3.5vh;
}

.social-nav-items a:first-child img {
    margin-left: 2.0rem;
}

.grid-container {
    max-width: 85vw;
    &.landing {
        max-width: 90vw;
    }
}

.grid-x {
    align-items: center;
    text-align: center;
}

.logos img {
    margin-top: 2.0rem;
}

.logos > img {
    float: right;
}

.timer-container {
    margin: 0 auto;
    width: 5.0rem;
}

.timer-value {
    font-family: Intermarche-Bold;
    border-radius: 50%;
    background-color: #F02900;
    text-align: center;
    line-height: 5.0rem;
    height: 5.0rem;
    width: 5.0rem;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 0.3rem;
}

.timer-unit {
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0.6rem;
}

.paper-back {
    background-image: url('../images/paper-texture.jpg');
    padding: 2rem;
}

.paper-back p {
    margin: 0;
}

main .paper-back .grid-container .cell {
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.paper-back img {
    text-align: center;
    height: 3rem;
    max-width: 80%;
}

.paper-back .cell:last-child {
    margin-top: 2rem;
}

.featured-produit h2 {
    margin-bottom: 2rem;
}

.produit-headline {
    border-left: 0.2rem solid #F02900;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.produit-headline h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0;
}

.produit-headline p,
.voir-tout {
    margin: 0;
}

.featured-produit .grid-x {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main .grid-container.featured-produit .cell {
    margin-top: 0;
}

.featured-produit li {
    line-height: 2rem;
}

.featured-produit img {
    width: 100%;
    margin: 0;
}

footer p {
    color: #fff;
    font-family: Intermarche;
    font-size: 1.5em;
    text-shadow: 1px 2px 4px rgba(50, 50, 50, 1);
}

.legal {
    font-size: 0.6rem;
    letter-spacing: normal;
    color: #6B6B6B;
    height: 100%;
    padding: 1rem 0;
}

.legal > .cell {
    text-align: center;
}

.legal a,
.legal a:visited {
    color: #F02900;
    text-decoration: underline;
}

.legal a:hover,
.legal a:active,
.legal a:focus {
    color: #A81810;
}

.home-intro {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.home-intro-left {
    border-right: 4px solid #f02900;
}

.home-intro-right {
    padding-top: 6em;
}

.no-excuses-intro p.intro-sub-heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.no-excuses-image {
    margin-top: 0 !important;
}

.no-excuses-button {
    color: #000 !important;
    border: 4px solid #f02900;
    text-decoration: none;
    padding: 12px 16px;
    display: inline-block;
    font-weight: 600;
}

.produits-cta_home {
    color: #0a0a0a;
    font-size: 2.2rem;
    line-height: 2.8rem;
    margin: 0 0 2rem;
}

.pyrex-stamp-holder {
    text-align: right;
}

.home-page main img.pyrex-stamp,
.produits-recettes img.pyrex-stamp {
    background: transparent;
    border: none;
    box-shadow: none;
    max-width: 220px;
    padding-top: 2rem;
}

.produits-cta_home-link {
    margin: 2rem;
    a {
        font-size: 1.2rem;
        text-decoration: none;
        display: inline-block;
        background: #F02900;
        padding: 1rem 4rem;
        font-weight: normal;
    }
}

/* Screen size media queries */
/* Mobile ONLY */
@media screen and (max-width: 50em) {
    .home-intro h1 {
        font-size: 1.8rem;
    }
    .home-intro-left {
        border-right: none;
        border-bottom: 4px solid #f02900;
        padding-bottom: 3rem !important;
    }

    .home-intro, .home-intro-left, .home-intro-right {
        padding: 0;
    }
    .pyrex-stamp-holder {
        text-align: center;
    }

    /* Force line break on small devices */
    .mobile-block {
        display: block;
    }

    .mobile-order-1 {
        order: 1;
    }

    .mobile-order-2 {
        order: 2;
    }

    .mobile-order-3 {
        order: 3;
    }

    .mobile-order-4 {
        order: 4;
    }

    .navbar-default li {
        text-align: center;
    }

    /* owl carousel dots */
    .owl-dots {
        text-align: center;
    }
    .owl-dot {
        display: inline-block;
    }

    .owl-dot span {
        transition-duration: 0.2s;
        height: 1rem;
        width: 1rem;
        display: inline-block;
        background: transparent;
        display: inline-block;
        border: 1px solid #fff;
        border-radius: 50%;
        float: left;
        margin: 0 0.5rem;
    }

    .owl-dot.active span {
        background-color: #fff;
    }

    .red-overlay {
        width: 100%;
    }

    .red-overlay .cell {
        font-size: 1rem;
    }

    .red-overlay > .grid-x .cell:first-child {
        font-size: 1.2rem;
    }

    .red-overlay > .grid-x .cell:nth-child(2) {
        font-size: 4rem;
    }
}

/* Tablet and above in landscape */
@media screen and (min-width: 768px) and (orientation: landscape) {

    html {
        font-size: 8pt;
    }

    .navbar-header img {
        height: 1.8rem;
    }

    .navbar-default .navbar-nav li a {
        font-size: 0.6rem;
    }

    .hero .grid-x {
        height: 35vh;
    }

    .recette-inner-page.brownie .hero {
        background-image: url('../images/recettes/brownies-aux-noir-de-pecan@full.jpg');
    }

    .recette-inner-page.clatoutis .hero {
        background-image: url('../images/recettes/clafoutis-aux-poires@full.jpg');
    }

    .recette-inner-page.gespillage .hero {
        background-image: url(../images/recettes/le-gaspillage@full.jpg);
    }

    .recette-inner-page.gateau .hero {
        background-image: url('../images/recettes/gateau-renverse-aux-pommes@full.jpg');
    }

    .recette-inner-page.gratin-chou-fleur .hero {
        background-image: url('../images/recettes/gratin-de-chou-fleur@full.jpg');
    }

    .recette-inner-page.lasagne .hero {
        background-image: url('../images/recettes/lasagne-classique@full.jpg');
    }

    .recette-inner-page.magret-canard .hero {
        background-image: url('../images/recettes/magret-de-canard@full.jpg');
    }

    .recette-inner-page.papillote .hero {
        background-image: url('../images/recettes/papillote-de-lotte@full.jpg');
    }

    .recette-inner-page.roti-de-boeuf .hero {
        background-image: url('../images/recettes/roti-de-boeuf@full.jpg');
    }

    .float-right-medium {
        float: right !important;
    }

    .nav > li.social-icons > a > img {
        height: 2rem;
    }

    .brand-logo {
        max-width: none;
    }

    .navbar-nav > li > a {
        line-height: 4rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav > li.social-icons > a {
        padding-left: 0.8rem;
        padding-right: 0;
    }

    .navbar {
        margin: 0;
    }

    .grid-x {
        text-align: left;
    }

    main {
        margin-bottom: 0;
    }

    h1, h2 {
        font-size: 3rem;
        line-height: 3.4rem;
    }

    .landing p {
        width: 80%;
        font-size: 1.2rem
    }

    .no-excuses-intro {
        p {
            width: 100% !important;
        }
    }

    main .paper-back .grid-container .cell:first-child {
        text-align: left;
    }

    main .paper-back .grid-container .cell:last-child {
        text-align: right;
    }

    .btn-primary {
        padding: 0.5rem 2rem;
        width: auto;
        margin: 1.5rem 0;
        display: inline-block;
        border-width: 2px;
    }

    .featured-produit .black-overlay > div > div p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .l-offre .grid-x {
        align-items: baseline;
    }

    .l-offre .grid-x .cell {
        position: relative;
    }

    .l-offre .btn-primary {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .l-offre .how-it-works p {
        margin-left: 2rem;
    }

    .l-offre .how-it-works .grid-x {
        align-items: center;
    }

    .l-offre .how-it-works .cell {
        margin-top: 0;
    }

    .red-number {
        display: inline-block;
    }

    .recette-gallery > .grid-x:last-child {
        margin-bottom: 4rem;
    }

    .recette-inner-page .sidebar {
        padding-bottom: 2rem;
    }

    .recette-inner-page .sidebar h2 {
        font-size: 1.5rem;
    }

    .info-strip .grid-x .cell:first-child {
        min-height: 60vh;
    }

    .info-strip .cell:first-child {
        overflow: hidden;
        position: relative;
    }

    .info-strip .cell:first-child img {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        max-height: none;
        margin: auto;
    }

    .entre-cta form > .grid-container {
        width: 50%;
    }

    .entre-cta form .grid-x,
    .telecharger-cta .grid-x {
        align-items: baseline;
        text-align: center;
    }

    main .telecharger-cta .grid-container .cell p {
      margin: 0 auto;
    }

    main .telecharger-cta .grid-container .cell p:last-child {
      width: 50%;
    }

    .entre-cta form > .grid-container .cell {
        margin: 0;
    }

    .entre-cta .btn-primary {
        margin: 0 0 0 1rem;
    }

    .info-strip .grid-x .cell:first-child {
        height: 100%;
    }

    .home-page .produits-recettes,
    .magasins-page .produits-recettes {
        padding-top: 6rem;
    }

    .produits-recettes img {
        width: 100%;
        height: auto;
    }

    .produits-page .magasins {
        margin-top: 4rem;
    }

    .magasins {
        margin-bottom: 3rem;
    }

    .magasins .grid-x:last-child {
        padding-bottom: 3rem;
    }

    .faq-page .faqs {
        background-image: url('../images/recette-back-top-left.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .recette-inner-page main {
        background-image: url('../images/recette-back-top-left.jpg'), url('../images/recette-back-top-right.jpg'), url('../images/recette-back-bottom-left.jpg');
        background-position: top left, top right, bottom left;
        background-repeat: no-repeat;
        background-size: 40%, 35%, 35%;
    }

    .recette-inner-page main > .grid-container {
        padding-bottom: 15rem;
    }

    .recette-inner-page main > .grid-container > .grid-x {
        align-items: start;
    }

    .recette-inner-page main .grid-container.full .grid-x:first-child {
        margin-top: 4rem;
    }

    .home-page .faqs {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .faqs .grid-x {
        align-items: baseline;
    }

    a.more-button {
        position: absolute;
        bottom: 0;
    }

    footer.tall {
        margin-top: 12rem;
    }

    .legal .cell:first-child {
        text-align: left;
    }

    .legal .cell:last-child {
        text-align: right;
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    html {
        font-size: 10pt;
    }
}

@media screen and (min-width: 1334px) and (orientation: landscape) {
    html {
        font-size: 12pt;
    }
}
